<div class="main-chat">
  <div class="main-header">
    <div class="main-left-header">
      チャットグループ名
    </div>
    <div class="main-right-header">
      <a href="#">チャットを終了する</a>
    </div>
  </div>
  <div class="main-contents">
    <%= render partial: 'message', collection: @messages %>
  </div>
    <%= form_with model: [@room, @message], class: 'main-bottom', loal: true do |f| %>
      <div class="main-left-bottom">
        <%= f.text_field :content, class: 'chat-input', placeholder: 'type a message' %>
        <label class="form-image">
          <span class="image-file">画像</span>
          <%= f.file_field :image,class: 'hidden' %>
        </label>
      </div>
        <%= f.submit '送信', class: 'submit-btn' %>
      <% end %>
  </div>
</div>